@import "../../palatte.scss";

.shelf-root {
  background: $blue;
  // clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 100%, 0% 100%);
  position: fixed;
  width: 100%;
  height: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  // animation: breathe 1s cubic-bezier(0, 1.29, 0.88, 1.4) forwards infinite;
  padding: 8px;
  margin: auto;
  box-sizing: border-box;
  font-family: "VCR";
  display: grid;
  grid-template-columns: 61px 1fr 61px;
  grid-template-rows: 1.3fr 1fr 1fr;
  color: $white;
  box-shadow: 0 -28px $black;

  img {
    grid-column: 1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
  }

  .song-title,
  .artist,
  .album {
    grid-column: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .song-title {
    font-size: 20px;
    margin-left: 8px
  }
  .artist {
    margin-left: 12px;
  }
  .album {
    margin-left: 12px;
  }


  .queue {
    text-align: center;
    grid-column: 3;
    grid-row: 1;
    font-family: Thunderstorm;
    font-size: 20px;
    line-height: 0.75;
  }
  .queue-num {
    text-align: center;
    grid-column: 3;
    grid-row: 2 / -1;
    font-size: 48px;
    font-family: times-32-bold;
    line-height: 0.6;
  }

.time {
  font-family: "VCR";
  position: absolute;
  top: -24px;
  right: 12px;
  font-size: 20px;
  color: $white;
}
.now-playing {
  font-family: "VCR";
  position: absolute;
  top: -24px;
  left: 12px;
  font-size: 20px;
  color: $white;
  // animation: bounce 1s cubic-bezier(0, 1.29, 0.88, 1.4) forwards infinite;
}
}

@keyframes breathe {
  from {
    box-shadow: 0 -14px 8px $dgray;
  }
  to {
    box-shadow: 0 -24px $black;
  }
}

@keyframes bounce {
  from {
    filter: blur(1px)
  }
  to {
    transform: translateY(-10px);
  }
}
