/* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@font-face {
  font-family: 'Backbones';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./assets/Backbones.otf') format('otf');
}
@font-face {
  font-family: 'Thunderstorm';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./assets/Thunderstorm.otf') format('otf');
}

@font-face {
  font-family: 'times-16';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./assets/TIMES.TTF-16-Regular-fa46b8e0f87ca255fb212abd7b50554b2c9335b09da60399ec65001cea25fa8b.woff') format('woff');
}
@font-face {
  font-family: 'times-16-bold';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./assets/TIMESBD.TTF-16-Bold-566bcacdc98e1ed8723a224dc8dbdcb7f8c59fb167d8412e1c2c1f25581af023.woff') format('woff');
}
@font-face {
  font-family: 'times-24-bold';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./assets/TIMESBD.TTF-24-Bold-e2ccd12c29de9f46f55f6b22d8e8c9f22147450fcc3ced5089199e105b7b2acf.woff') format('woff');
}
@font-face {
  font-family: 'times-32-bold';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./assets/TIMESBD.TTF-32-Bold-2164905c85a319d9746be1ddc807c7bc45f43f71508e5e2e37c937ef16d62efd.woff') format('woff');
}
@font-face {
  font-family: 'times-16-italic';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('./assets/TIMESI.TTF-16-Italic-baf8283ca63eb32ae1d1f546959c817b50001901fc7d1ff355f5143e35dc7ea1.woff') format('woff');
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body::after {
	background-image: url("../src/assets/ninety.svg");
	background-size: cover;
	content: "";
	position: absolute;
	top: -20vh;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.5;
	z-index: -99999999999999;

	@media only screen and (max-width: 600px) {
		background-size: contain;
		background-repeat: no-repeat;
		top: 20vh;
	}
}
