@import "../../palatte.scss";

.button-toggle-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  justify-content: center;
  display: flex;
  gap: 12px;
  margin-bottom: 6px;

  img {
    height: 1.5em;
    margin-right: 8px;
  }

  button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Thunderstorm", "Roboto", Arial;
    background: $teal;
    border: 0;
    padding: 8px 16px;
    cursor: pointer;
    // color: #1d3038;
    // color: #352989;
    color: $purple;
    font-weight: 500;
    font-size: 24px;
    // border-top: 2px solid $border-color;
    // border-bottom: 6px solid $border-color;
    // border-right: 4px solid $border-color;
    box-shadow: 4px 6px $black;
    outline: none;
    transition: box-shadow 100ms cubic-bezier(0.09, 1.51, 0.61, 2.19);

    &.selected {
      box-shadow: 6px 8px $black;
      // background: #2b4854;
      background: $yellow;
      color: $pink;
      // box-shadow: -4px -6px inset #fdfcf9;
      // border-color: $teal;
      // color: #fdfcf9;
    }
  }
}

$animation-duration: 500;
$width: 90vw;

.content-container {
  width: $width;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  &.reverse > .content-wrapper {
    animation: slide-reverse ease-in-out #{$animation-duration}ms;
  }

  &.forward > .content-wrapper {
    animation: slide-forward ease-in-out #{$animation-duration}ms;
  }

  .content-wrapper {
    width: 100%;
    flex: 1 0 auto;
  }
}

@keyframes slide-reverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1 * $width);
  }
}

@keyframes slide-forward {
  from {
    transform: translateX(-1 * $width);
  }
  to {
    transform: translateX(0);
  }
}
